@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.fullsitewrapper{
  height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background: url(bg.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.greenoverly{
  background: #2e500e6e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
animation: greenbganim 1.5s both ease;

}

.infowrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;

}

h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 30px;
  animation: titleanim .5s 1s both ease;
}
p,a{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 400;
}
.price{
  font-size: 24px;
  margin-bottom: 5px;
  animation: titleanim .5s 1.3s both ease;
}
.contact{
  font-size: 24px;
  padding: 10px 20px;
  border: 1px solid white;
  background: #495d39a3;
  animation: titleanim .5s 1.6s both ease;
}
.contact:hover{
  background: #495d39;
}

@media (max-width: 500px) {
  h1{
    font-size: 30px;
  }
  .price{
    font-size: 14px;
  }
  .contact{
    font-size: 14px;
  }
}
@keyframes greenbganim {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes titleanim {
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
